@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-body);
}

@layer base {
  :root {
    --background: 60 56% 91%;
    --foreground: 25 20% 15%;
    --card: 60 56% 96%;
    --card-foreground: 25 20% 15%;
    --popover: 60 56% 96%;
    --popover-foreground: 25 20% 15%;
    --primary: 20 60% 57%;
    --primary-foreground: 10 80% 98%;
    --secondary: 25 76% 80%;
    --secondary-foreground: 25 76% 20%;
    --muted: 60 56% 85%;
    --muted-foreground: 25 20% 35%;
    --accent: 25 76% 30%;
    --accent-foreground: 60 56% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 60 20% 80%;
    --input: 60 20% 84%;
    --ring: 20 60% 57%;
    --radius: 1rem;
  }
  .dark {
    --background: 220 10% 10%;
    --foreground: 210 40% 98%;
    --card: 220 10% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 220 10% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 20 60% 57%;
    --primary-foreground: 20 60% 15%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 25 76% 40%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 20% 20%;
    --input: 217 20% 24%;
    --ring: 20 60% 57%;
    --radius: 1rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
  }
  .font-headline {
    font-family: var(--font-headline);
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0 rgba(255,255,255,0.5);
  }
  .dark .text-shadow {
    text-shadow: 2px 2px 0 rgba(0,0,0,0.2);
  }

  .gold-alert {
    @apply text-yellow-500 scale-110;
    font-weight: 900 !important;
    text-shadow: 0 0 5px #ffd700 !important;
  }
}

/* Custom scrollbar for webkit browsers */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--muted));
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--accent) / 0.5);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--accent));
}

@keyframes popIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-pop-in {
  animation: popIn 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes pulse-bg {
  50% {
    background-color: hsl(var(--primary) / 0.8);
  }
}

.animate-pulse-bg {
  animation: pulse-bg 1.5s infinite;
}
